* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
    max-width: 935px;
    width: 100%;
}

.phones-wrapper {
    position: relative;
    top: 15px;
}

.phones-wrapper img {
    width: 100%;
}

.phones-wrapper .slider {
    position: absolute;
    top: 25px;
    left: 157px;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    flex: 1;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px 35px 20px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.logo {
    width: 180px;
    height: auto;
    margin: 0 auto 32px;
}

form {
    position: relative;
}

.form-content input {
    display: block;
    margin-bottom: 8px;
    width: 270px;
    height: 38px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 0 8px;
    background-color: #fafafa;
    outline: none;
}

.form-content input::placeholder {
    color: #8e8e8e;
}

#password_show_button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.form-content button[type="submit"] {
    display: block;
    width: 270px;
    height: 30px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    background-color: #0095f6;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: disabled 0.2s ease;
}

button[type="submit"]:disabled {
    background-color: rgba(0, 149, 246, 0.5);
    cursor: default;
}

.divider {
    position: relative;
    margin: 18px auto 30px;
    color: #8e8e8e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.divider::after,
.divider::before {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    top: 50%;
}

.divider::before {
    right: -125px;
}

.divider::after {
    left: -125px;
}

.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: rgb(55, 81, 132);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-facebook img {
    width: 15px;
    margin-right: 10px;
}

.forgot-password {
    text-align: center;
    color: #222;
    font-size: 12px;
}

.signup-wrapper {
    text-align: center;
    width: 100%;
    padding: 25px 0;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
}

.signup-wrapper a {
    color: #0095f6;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.get-app {
    width: 100%;
    text-align: center;
}

.get-app p {
    font-size: 14px;
    margin-bottom: 20px;
}

.download-app img {
    width: 135px;
    height: auto;
    margin: 0 2px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    margin-bottom: 52px;
    font-size: 12px;
    color: #8e8e8e;
    width: 100%;
}

footer .footer-items:nth-child(2){
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

footer ul li {
    margin-right: 20px;
    margin-bottom: 10px;
}

footer ul li a {
    color: #8e8e8e;
}

footer ul li a svg {
    transform: rotate(180deg);
    position: relative;
    top: 2px;
}

@media screen and (max-width: 875px) {
    .login-wrapper {
        margin-bottom: 45px;
    }
    .phones-wrapper {
        display: none;
    }
    footer {
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px) {   
        .login-wrapper {
            max-width: 100%;
        }
        .form-content, .signup-wrapper {
            background-color: transparent;
            border: none;
        }
}