* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-size: 16px;
}

.instagram-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto 0;
}

.phones-wrapper {
    position: relative;
    top: 30px;
}
.phones-wrapper img {
    width: 100%;
}

.phones-wrapper .slider {
    position: absolute;
    top: 25px;
    left: 157px;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px 40px 15px;
    border: 1px solid #e6e6e6;
}

.logo {
    width: 170px;
    height: auto;
    margin: 10px auto 32px;
}

.form-content input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    background-color: #fafafa;
}

.form-content button[type="submit"] {
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #0095f6;
    color: #fff;
    cursor: pointer;
}

.divider {
    position: relative;
    margin: 15px auto 25px;
    color: gray;
    text-transform: uppercase;
}

.divider::after,
.divider::before {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: #dbdbdb;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
}

.divider::before {
    right: -120px;
}

.divider::after {
    left: -120px;
}

.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #3f729b;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-facebook img {
    width: 18px;
    margin-right: 10px;
}

.forgot-password {
    text-align: center;
    color: #222;
}

.signup-wrapper {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin: 15px 0;
    border: 1px solid #e6e6e6;
}

.signup-wrapper a {
    color: #3f729b;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.get-app {
    width: 100%;
    text-align: center;
}

.download-app img {
    width: 35%;
    margin: 0 5px;
    margin-top: 10px;
}

@media  screen and (max-width: 875px) {

    .phones-wrapper {
        display: none;
    }
}